.menu-list__list-item {
  position: relative;
}

.menu-list__submenu {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: #fff !important;
  width: 350px !important;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

.menu-list__submenu a {
  white-space: normal;
  word-wrap: break-word;
}

.overflow-menu:after {
  display: none;
}

/* Arrow */
.menu-arrow {
  width: 0.6rem;
  height: 0.35rem;
  margin-left: 0.25rem;
  vertical-align: middle;
  display: inline-block;
}
